.f4 {
   
    font-size: 4vh;
}

#contact {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#eich {
    width: 50%;
    
}
.arrive{
    display: flex;
     justify-content: center;
     flex-direction: column;
}
#arriveText {
   
    font-size: 18px;
    direction: rtl;

}

#darkDiv{
    background-color: rgb(0,0,0,0.9);
    width: 100%;
    height: 18vh;
}

#lifratim {
color: white;
    
}


@media only screen and (max-width: 768px) {
    #eich {
        min-width: 95%;
    }

    #lifratim {
        font-size: smaller;
        
    }

    #iframe {
        width: 90%;
    }

    #arriveText {
        width: 95%;
         margin: auto
     }

     #darkDiv{
  
        height: 22vh;
    }

     
     
}


#yezirat {
    font-family: serif;
    color: darkorange;
    font-size: 10vh;
}

#pratim {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}



.wwi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;

}

#emailInfo {
    margin-left: 6vw;
    margin-right: 5vw;

}
.con{
    font-size: larger;
}



#whatsApp {

    color: #25D366; /* טקסט או אייקון על רקע שחור */
    ;
    text-decoration: none;
    transition: 0.3s;
    position: relative;

}

#whatsApp:hover {
    color: #28ec73
}


#waze {
    color: #0099DD;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    top: 5px;
}

#waze:hover {
    color: #00b3ff
}

#instagram {
    color: #e4405f;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    top: 7px;
    right: 13px;
}


#instagram:hover {
    color: #e15d75;
    /* ורוד בהיר */
}

@media only screen and (max-width: 768px) {
    #pratim {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .wwi {
        width: 100%;
        justify-content: center;
        position: relative;
        top: 2vh
    }

    #whatsApp {
        margin-left: 7.5vw;
        margin-right: 8vw;

    }
}


/* #whatsAppAndWazeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
  bottom: 37px;


} */

.con {
    color: darkorange;
    transition: 0.3s;
}

.con:hover {
    color: orange;
}

.con:visited {
    color: #33CCFF;
}












.formContainer {

    width: 100%;


    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 768px) {
    .formContainer {

        width: 95%;
    }
}


.heading {
    text-align: center;
    color: black;

    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;



}

@media only screen and (max-width: 768px) {

    .form {
        width: 80%;
    }
}

#bla {
    width: 100%;

    display: flex;
    justify-content: center;
}

.formGroup {
    margin-bottom: 15px;


}

.label {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.input,
.textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: transparent;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.input:focus,
.textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.textarea {
    resize: vertical;
    min-height: 100px;
}

.button {
    padding: 10px 15px;
    background-color: darkorange;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
}

.button:hover {
    background-color: #0056b3;
}

.successMessage {
    margin-top: 20px;
    color: rgb(0, 138, 0);
    text-align: center;
    font-size: 1rem;
}


#zminim{
    font-size: 16px;
 
}