#main {
    position: absolute;
    top: 0;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    width: 100%;
}

#title {
    font-size: 4.7vh;
    /* Responsive font size */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title2 {
    font-size: 4.7vh;
    /* Responsive font size */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titleh2 {
    font-size: 2.5vh;
    /* Responsive font size */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.frontTitleDiv {
    position: absolute;
    top: 15vh;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

.child {
    flex: 1;
}

.z {
    z-index: 4;
}

#intro {
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
    top: 30vh;
    right: 2.5vh;
    font-size: 2.5vh;

}

.buttons {
    background-color: rgb(255, 132, 0);
    border-radius: 8px;
    height: 10vh;
    /* Responsive height */
    width: 15vh;
    /* Responsive width */
    font-size: 2vh;
    /* Responsive font size */
    color: white;
    border-color: transparent;
    transition: 0.3s;
    margin-bottom: 2vh;
    /* Responsive margin */
}

#lepirtei {

    background-color: rgb(209, 108, 0);
    border-radius: 10px;
    height: 7vh;
    /* Responsive height */
    width: 15vw;
    /* Responsive width */
    font-size: 2.5vh;
    /* Responsive font size */
    color: white;
    border-color: transparent;
    transition: 0.3s;

    z-index: 10;
    /* Responsive margin */
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

#lepirtei:hover {
    background-color: rgb(225, 135, 0);
}


#lehazmana {
    background-color: #1b9748;
    border-radius: 10px;
    height: 7vh;
    /* Responsive height */
    width: 15vw;
    /* Responsive width */
    font-size: 2.6vh;
    /* Responsive font size */
    color: white;
    border-color: transparent;
    transition: 0.3s;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   


}
#lehazmana:hover {
    background-color: #21b256;
}


#lepirteiHasiurim{
    background-color: #1d1ac6;
    border-radius: 10px;
    height: 7vh;
    /* Responsive height */
    width: 15vw;
    /* Responsive width */
    font-size: 2.6vh;
    /* Responsive font size */
    color: white;
    border-color: transparent;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}

#lepirteiHasiurim:hover{
    background-color: #204cdc;
}

@media only screen and (max-width: 768px) {

    #lepirtei {
        font-size: 2.3vh;
        width: 30vw;
        padding-bottom: 10px;
    }


 #lehazmana{
    font-size: 2.3vh;
    width: 33vw;
    direction: rtl;
    padding-bottom: 10px;

 }

    #lepirteiHasiurim{
        font-size: 2.3vh;
        width: 30vw;
        padding-bottom: 10px;
    }


}







    






.buttons2 {
    color: darkorange;
    transition: 0.3s;
    font-size: larger;
}

.buttons2:hover {
    color:orange;
}


#table1,
#table2 {
    font-size: 4vh;
    /* Responsive font size */
    transition: 0.3s;
    text-decoration: underline darkorange
}

#table1:hover,
#table2:hover {
    color: darkorange;
}

#tableDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 1vh;
    /* Responsive margin */
}

#kind {
    display: flex;
    justify-content: space-around;
}

#images {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: center;
    padding-left: 2vh;
    /* Responsive padding */
    position: relative;
    left: 2vh;
    /* Responsive position */
}

#img1,
#img2 {
    width: 30%;
    height: 30%;
}

#img3 {
    width: 30%;
    height: 26vh;
}

.s {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    /* Responsive padding */
    padding-right: 5%;
    /* Responsive padding */
    align-items: center;

}

.sss {
    position: relative;
    top: 50px;
}



/* #s1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
} */



/* Q{
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.h4 {
    color: darkorange;
    font-size: 2.5vh;
    /* Responsive font size */

    position: relative;
    top: 50px;

    display: flex;
    justify-content: center;
}

.h5 {
    font-family:sans-serif;
    font-size: 2.3vh;
    width: 20vh;
    position: relative;
    top: 50px;
}

#ma {
    position: relative;
    bottom: 10px;
}

.line {
    position: relative;
    top: 50px;
}

#line6 {
    margin-bottom: 150px;
}


/* #h12{
        position: relative;
        right: 500px;
    } */

@media only screen and (max-width: 768px) {

    /* For mobile phones: */

    #img2,
    #img3 {

        display: none;
    }

    .s {
        display: flex;
        justify-content: none;
        padding-left: 0;

        padding-right: 0;

        align-items: center;

    }


    #sss {
        display: flex;
        justify-content: center;
        width: 100%;
        ;
    }

    #img1 {
        width: 90%;
        margin: 0 auto;
    }

    #s62 {
        width: 25%;
        position: relative;
        right: 5vw;
    }





    .h5 {
        font-size: 2vh;
        width: 20vh;
        margin: 4px;
    }


    .frontTitleDiv {
        position: absolute;
        top: 7vh;
        width: 100%;
    }







}



#ma {
    position: relative;
    top: 13vh;
}


#line1,
#line2,
#line3,
#line4,
#line5,
#line6 {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
    border-top: 1px solid grey;
}

#divh5,
#div51 {
    width: 20vh;
    /* Responsive width */
    font-size: 1.5vh;
    /* Responsive font size */
}

#item {
    height: 40vh;
    /* Responsive height */
    min-width: 30vh;
    /* Responsive min width */
    padding: 1vh;
    /* Responsive padding */
}

#item img {
    width:auto;
    height: 100%;
    pointer-events: none;
    
    
}

#innerCarusel {
    display: flex;
    background: #333333;
    animation: scroll 600s linear infinite;
    width: 1000%;
 
    
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@media only screen and (max-width: 768px) {
    #innerCarusel {
        width: 4200%;
    }



}


#carusel {
    cursor: grab;
    overflow: hidden;
}

#caruselDiv {
    height: fit-content;
}

.white {
    color: white;
    font-size: 4vh;
}


#video1Div {
    position: relative;
    width: 100%;
    height: 100%;
}

#video1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 96vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vh;
    /* Responsive padding */
}

.buttons {
    background-color: rgb(255, 132, 0);
    border-radius: 8px;
    height: 5vh;
    /* Responsive height */
    width: 15vh;
    /* Responsive width */
    font-size: 2vh;
    /* Responsive font size */
    color: white;
    border-color: transparent;
    transition: 0.3s;
    margin-bottom: 2vh;
    /* Responsive margin */
}




#googleReviews {

    color: white;
    font-size: 18px;
    position: relative;
    bottom: 24px;
}

#googleStars {
    width: 30vh;
    position: relative;
    bottom: 42px;
    margin-top: 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lepirteiVeLasadnaDiv {
    display: flex;
    justify-content: center;
    align-items: center;


}



#iframe{
border: 2px,solid,black;
}