#mainDivJanur {

    position: absolute;
    top: 0;
    background-color:rgb(250, 250, 250);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.janur1 {
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    width: 100%;
    align-items: center;
}

#p1 {
    width: 30%;
text-align: right;
    position: relative;
    bottom: 10vh;
   
}


#video5 {
    max-width: 20%;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    left: 12vw;
    

}

/* #textPhoto168 {
   
} */

#photo168 {
    width: 30%;

    border-radius: 10%;
}

#photo171 {
    width: 22%;
    border-radius: 10%;
}

#JanurPhotosDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 10vh;
}

#textPhotos{
  
    margin-top: 3vh;
    font-size: 3vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .janur1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        direction: rtl;
        width: 100%;
        align-items: center;
    }

    #video5 {
        min-width: 75%;
        object-fit: cover;
        border-radius: 10%;
        left: 0;
        margin-right: 0;
    }

    #p1 {
        margin-top: 10vh;
        margin-bottom: 0;
        min-width: 90%;
     
        font-size: 3.5vh;
    }

    #JanurPhotosDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 10vh;
        margin-bottom: 10vh;
      
    }

    #photo168 {
        min-width: 80%;
        margin-bottom: 3vh;
    }

    #photo171 {
        min-width: 80%;
     
    }


}







#explainJanurText {
    width: 50%;
    
    border-radius: 20px;
    margin: auto;
    font-size: 3.5vh;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #explainJanurText {
        min-width: 90%;
       
        border-radius: 10px;
        
    }
}







#head1 {
    font-size: 8vh;
   
    display: block;
    width: 100%;
    text-align: center;
}

#head2 {
    font-size: 6vh;
  
    display: block;
    width: 100%;
    text-align: center;
}