#mainDivPrivate {
    position: absolute;
    top: 0;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    width: 100%;
}


#subTitlePrivate {
 
    width: 70%;
    margin: auto;
    direction: rtl;
    text-align: right;
    margin-bottom: 10vh;

}

@media only screen and (max-width: 768px) {
    #subTitlePrivate {
        width: 90%;
    }
}

#bottomTextDiv {
    display: flex;
    justify-content: center;
}

#bottomText {
    padding: 5px;
    width: 60%;
    font-size: 2.5vh;

}

#itemPrivate {
    height: 40vh;
    /* Responsive height */
    min-width: 30vh;
    /* Responsive min width */
    padding: 1vh;
    /* Responsive padding */
}

#itemPrivate img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    width: fit-content;
}





#innerCaruselPrivate {
    display: inline-flex;
    animation: scroll 700s linear infinite;
    width: 1150%;
    position: relative;
    right: 500vw;

}

#CTAPrivate {
position: relative;
bottom: 5vh;
}


@media only screen and (max-width: 768px) {
    #innerCaruselPrivate {
        width: 5200%;
        position: relative;
        right: 2500vw;
    }

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-97%);
    }

    100% {
        transform: translateX(0);
    }
}

#caruselPrivate {
    cursor: grab;
    overflow: hidden;
}

#caruselDivPrivate {
    height: fit-content;
    margin-bottom: 20vh;
}





#photo37Div {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


#photo37 {
    max-width: 60%;


}

#photo38 {
    max-width: 60%;


}


#photo39 {
    width: 55%;



}

#textPhoto37 {

    font-family: sans-serif;


}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #textPhoto37 {


        font-size: 3vh;
        font-family: sans-serif
    }

    #bottomText {
        min-width: 80%;
    }
}



#photo38Div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
}





#textPhoto38 {

    font-family: sans-serif;
    font-size: x-large;
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #textPhoto38 {


        font-size: 3vh;
        font-family: sans-serif
    }
}






#photo39 {
    width: 30%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #photo39 {
        width: 60%;

    }

    #prices {
        display: none;
    }
}


img {
    border-radius: 20px;
    margin: 3px
}


.space {
    height: 80px;
}

#pricesDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

#prices {

    background-color: orange;
    width: 50%;
    border-radius: 10px;


}




#infoDivPrivate {


    width: 100%;
    height: 70%;
    align-items: center;
    margin-top: 10vh;
    justify-content: center;


}



@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #infoDivPrivate {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 70%;
        align-items: center;
        margin-top: 10vh;


    }

    #photo37,
    #photo38 {
        min-width: 90%;
    }
}





.h2 {

    font-size: 5vh;


    ;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .h2 {
        font-size: 3vh;


    }
}


.h3 {

    font-size: 2.5vw;



}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .h3 {

        font-size: 2.5vh;

    }
}